.toc-ol li{list-style:none;}
.toc-ol li{list-style:none;padding-left:6px;}
.toc-ol li{counter-increment:lv1;}
.toc-ol li:before{content:counter(lv1,decimal)".";color:#f00;}
.toc-ol li li{counter-increment:lv2;}
.toc-ol li li:before{content:counter(lv1,decimal)"."counter(lv2,decimal)".";}
.toc-ol li li li{counter-increment:lv3;}
.toc-ol li li li:before{content:counter(lv1,decimal)"."counter(lv2,decimal)"."counter(lv3,decimal)".";}
.toc-ol li li li li{counter-increment:lv4;}
.toc-ol li li li li:before{content:counter(lv1,decimal)"."counter(lv2,decimal)"."counter(lv3,decimal)"."counter(lv4,decimal)".";}
.toc-ol li li li li li{counter-increment:lv5;}
.toc-ol li li li li li:before{content:counter(lv1,decimal)"."counter(lv2,decimal)"."counter(lv3,decimal)"."counter(lv4,decimal)"."counter(lv5, decimal)".";}
.toc-ol li li li li li li{counter-increment:lv6;}
.toc-ol li li li li li li:before{content:counter(lv1,decimal)"."counter(lv2,decimal)"."counter(lv3,decimal)"."counter(lv4,decimal)"."counter(lv5, decimal)"."counter(lv6, decimal)".";}

.toc-ul>li{margin-left:10px; list-style:none; padding-left:0px;}
.toc-ol>li{margin-left:0px; list-style:none; padding-left:0px;}

footer.toc-footer {
    margin-top: 8px;
}
nav.well {
    background: rgba(255,255,255,0);
}
#toc .nav{
    padding-left:0px;
    margin-left:0px;
}
#toc .nav > li > a{padding-left:4px;padding-top:2px;padding-bottom:2px;color: #337ab7;}
/*
#toc .nav > li > a:last-child{padding-bottom:0px;}
#toc .nav > li > a:first-child{padding-top:0px;}
*/
#toc .nav > li.active > a,
#toc .nav > li.active:hover > a,
#toc .nav > li.active:focus > a {
  font-weight: bold;
  border-left: 2px solid #23527c;
  color: #23527c;
}
#toc .nav .nav {
    display:none;
}
#toc .nav .active > ul {
    display:block;
}

blockquote.donate {
    border-left-color: #f96;
    background-color: #f0f0f0;
    display: table;
    vertical-align:middle;
}

blockquote.donate img{
    vertical-align:middle;
    margin-right: 10px;
    display: block;
    float: left;
}
blockquote.donate span{
    line-height: 32px;
}

img.donate {
    width: 200px;
    height: 200px;
}

#category .list-group-item{
    border-width: 0px;
    padding-bottom: 0px;
}
#category>.list-group{
    padding-bottom: 10px;
    box-shadow:none; /*no shadow*/
}

#category .badge{
    float:none;
    margin-left: 4px;
    background: none;
    color: #333;
    vertical-align: center;
    line-height: 14px;
}
#category .badge:before{content: "(";}
#category .badge:after{content: ")";}

#category li.category {
    padding-bottom: 0px;
}

#category li.category>ul.category {
    margin: 0px;
    box-shadow:none;
}

#category ul.category .list-group-item {
    padding-right: 0px;
}

#projects {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-flow: row wrap;
    -ms-flex-flow: row wrap;
    flex-flow: row wrap;
	justify-content: space-between;
}
#projects .panel {
    -webkit-box-flex: 1;
    box-flex: 1;
    -webkit-flex: 0 0 49%;
    -ms-flex: 0 0 49%;
    flex: 0 0 49%;
}
#projects h3 {
    margin:0px;
}

#projects .panel-body p{
    margin: 0px;
	height: 32px;
	line-height: 16px;
	font-size: 14px;
	overflow: hidden;
    text-overflow:ellipsis;
    -o-text-overflow:ellipsis;
    -webkit-text-overflow:ellipsis;
    -moz-text-overflow:ellipsis;
	white-space:wrap;
	word-break:break-all;
}

#projects .panel-footer{
    background: none;
    padding-top: 0px;
    padding-bottom: 10px;
    border-top: 0px;
}

div.article-container {
    transition:border linear .2s,box-shadow linear .5s;
    -moz-transition:border linear .2s,-moz-box-shadow linear .5s;
    -webkit-transition:border linear .2s,-webkit-box-shadow linear .5s;
    outline:none;
    border-color:rgba(144,144,144,.75);
    box-shadow:0 0 8px rgba(144,144,144,.5);
    -moz-box-shadow:0 0 8px rgba(144,144,144,.5);
    -webkit-box-shadow:0 0 8px rgba(144,144,144,3);
}

header.article-header .breadcrumb,
footer.post-item-footer .breadcrumb{
    display: inline;
    background: none;
}

header.article-header .article-date{
    padding-bottom: 8px;
}
header.article-header .article-date>span{
    margin-left: 18px;
}
article.article .article-edit-link {
    float: right;
    overflow: hidden;
}

footer.post-item-footer ol.tag li:not(:first-child):before{
    content: "\00a0";
}

footer.article-footer {
    text-align: right;
    border-top-color: #ccc;
    border-top-style: solid;
    border-top-width: 1px;
    padding-top: 10px;
    padding-bottom: 10px;
}

.content-more {
    padding-top: 0px;
    padding-bottom: 8px;
}

pre {
    /*background: none;
    border: none;*/
    overflow-x: auto;
    padding: 10px;
    position: relative;
    margin-bottom: 24px;
    overflow-y: hidden;
}
pre code {
    margin: -10px;
    padding: 12px 24px;
    font-size: 1.0em;
    overflow-y: auto;
    display:block;
}

code.has-numbering {
    margin-left: 10px;
}

.pre-numbering {
    position: absolute;
    top: 0;
    left: 0;
    width: 20px;
    padding: 7px 2px 12px 0;
    border-right: 1px solid #C3CCD0;
    border-radius: 3px 0 0 3px;
    background-color: #EEE;
    text-align: right;
    font-size: 1.0em;
    color: #AAA;
    list-style:none;
}

.fancybox img {
    max-width: 100%;
    height: auto;
    display: block;
}
span.funcybox-caption {
    display: block;
}